<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>专家库</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="format-detection" content="" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<link rel="stylesheet" href="../css/Expert.css" />
		<link rel="stylesheet" type="text/css" href="./../css/haokehui.css" />
		<!--<link href="fonts/a.ttf" />-->
	
		
		<style>
			.ExpertDatabase-nav{
				display: block;
				width: 7.5rem;
				height: 0.72rem;
				background-color: #FFFFFF;
				border-bottom: 1px solid #E8E8E8;
				position: fixed;
				top: 1.26rem;
			}
			.ExpertDatabase-nav ul{
				display: block;
				width: 100%;
			}
			.ExpertDatabase-nav li{
				display: block;
				width: 33.3%;
				float: left;
				line-height: 0.72rem;
				text-align: center;
			}
			.ExpertDatabase-nav li span{
				display: block;
				width: 90%;
				margin-left: 5%;
				font-size: 0.3rem;
				color: #808080;
			}
			.ED-colorChange{
				border-bottom: 2px solid #F4878F;
				color: #F4878F !important;
			}
		</style>
	</head>
	<body>
		<div class="ExpertDatabase-Bg">
			<div class="ExpertDatabase-header">
				<a href="javascript:history.back(-1)"><img src="../image/turnBack.png" /></a>
				<a href="javascript:history.back(-1)">
					<span class="ExpertDatabase-hspan02">返回</span>
				</a>
				<span class="ExpertDatabase-hspan03">专家库</span>
			</div>
		
			<div class="ExpertDatabase-nav">
				<ul>
					<li>
						<span class="ED-colorChange">科技专家</span>
					</li>
					<li>
						<span>金融专家</span>
					</li>
					<li>
						<span>企业专家</span>
					</li>
				</ul>
			</div>
		
		<div class="ExpertDatabase-Content">
			<ul id="cubeD">
				<!--<li v-for="item in list2">
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/ExpertHead.png" />
						<span class="ContentTopSpan01">{{item.Name}}</span>
						<label>{{item.Title}}</label>
						<p>{{item.description}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>-->
				
				<!--<li v-for="item in list2">
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/ExpertHead.png" />
						<span class="ContentTopSpan01">{{item.Name}}</span>
						<label>{{item.Title}}</label>
						<p>{{item.description}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>-->
				
				<li v-for="item in listD">
					<div class="ContentTop">
						<img class="ContentTopImg01" v-bind:src="item.imgUrl" style="border-radius: 50%;"/>
						<span class="ContentTopSpan01">{{item.expertName}}</span>
						<label style="display: -webkit-box;width: 3rem;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">{{item.expertTitle}}</label>
						<p style=" display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{{item.shortInformation}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>{{item.expertTags}}</label>
							<!--<label>{{item.expertTags[1]}}</label>-->
							<!--<label>{{item.expertTags[2]}}</label>-->
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>
				
				<!--<li>
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/expert/ExpertData02.png" />
						<span class="ContentTopSpan01">冯怡</span>
						<label>上海中医药大学 专家，教授</label>
						<p>简介：冯怡，女，博士，1961年7月出生，上海中医药大学教授，博士生导师。中药现代
						制剂技术部工程研究中心常务副主任，上海教委中药药剂重要带头人</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>-->
				
				<!--<li>
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/expert/expertData03.png" />
						<span class="ContentTopSpan01">冯怡</span>
						<label>上海中医药大学 专家，教授</label>
						<p>简介：冯怡，女，博士，1961年7月出生，上海中医药大学教授，博士生导师。中药现代
						制剂技术部工程研究中心常务副主任，上海教委中药药剂重要带头人</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>-->
			</ul>
		</div>
		
		<div class="ExpertDatabase-Content1 hide">
			<ul id="cubeB">
				<!--<li v-for="item in list2">
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/ExpertHead.png" />
						<span class="ContentTopSpan01">{{item.Name}}</span>
						<label>{{item.Title}}</label>
						<p>{{item.description}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>-->
				
				<li v-for="item in listB">
					<div class="ContentTop">
						<img class="ContentTopImg01" v-bind:src="item.imgUrl" style="border-radius: 50%;"/>
						<span class="ContentTopSpan01">{{item.expertName}}</span>
						<label style="display: -webkit-box;width: 3rem;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">{{item.expertTitle}}</label>
						<p style=" display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{{item.shortInformation}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>{{item.expertTags}}</label>
							<!--<label>{{item.expertTags[1]}}</label>-->
							<!--<label>{{item.expertTags[2]}}</label>-->
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>
			</ul>
		</div>
		
		
		<div class="ExpertDatabase-Content2 hide">
			<ul id="cubeC">
				<!--<li v-for="item in list2">
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/ExpertHead.png" />
						<span class="ContentTopSpan01">{{item.Name}}</span>
						<label>{{item.Title}}</label>
						<p>{{item.description}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>-->
				
				<li v-for="item in listC">
					<div class="ContentTop">
						<img class="ContentTopImg01" v-bind:src="item.imgUrl" style="border-radius: 50%;" />
						<span class="ContentTopSpan01">{{item.expertName}}</span>
						<label style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 3rem;">{{item.expertTitle}}</label>
						<p style=" display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{{item.shortInformation}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 3rem;">{{item.expertTags}}</label>
							<!--<label>技术好</label>-->
							<!--<label>值得信赖</label>-->
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>
			</ul>
		</div>
		
		
		
		</div>
		
		       			<!--返回到顶部-->
		<div id="returnTop" draggable="true" class="returnTop visiable hide">
			<a href="#javascript:;"></a>
		</div>
		
		
		<!--json Test-->
		<!--<div id="test">
		<ul v-for="item in list2"> 
				<li>
					<div class="ContentTop">
						<img class="ContentTopImg01" src="../image/ExpertHead.png" />
						<span class="ContentTopSpan01">{{item.Name}}</span>
						<label>{{item.Title}}</label>
						<p>{{item.description}}</p>
						<div class="ContentTopBo">
							<span class="ContentTopSpan02">评价：</span>
							<label>专业</label>
							<label>技术好</label>
							<label>值得信赖</label>
						</div>
					</div>
					<div class="contentBottom">
						<span>免费</span>
						<label>1789人咨询</label>
						<img  />
					</div>
				</li>
		</ul>		
		</div>-->
		
		<script type="text/javascript" src="../script/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="../script/vue.min.js"></script>
		<script type="text/javascript" src="../script/vue-resource.min.js"></script>
		<script type="text/javascript" src="../script/imglazy.js"></script>
		<script type="text/javascript" src="../script/haokehui.js"></script>
		<script>	

						$.ajax({
   				url:"http://47.100.46.113:8080/app/expert/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'type':"tech"
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
//					新闻没有图片用默认的图片替换
				
					for(i=0; i<pageList.length;i++){
						var arr=pageList[i].originImages
						if(arr==0||arr==null){
							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
							pageList[i].originImages=arr
						}
							else if(arr!=null){
								var arr=arr.split(",");
								for(z=0;z<arr.length;z++){
								if(arr.length>1){
								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
								pageList[i].originImages=arr
							}
							}
							}
						
					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeD',
   						data:{
		            		listD: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeD").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file4.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
			
		$(function(){
			$(".ExpertDatabase-nav").find("li").mousemove(function(){
				$(this).find("span").addClass("ED-colorChange")
				$(this).siblings().children("span").removeClass("ED-colorChange")
				var index=$(this).index()
				if(index==0){
					$(".ExpertDatabase-Content").removeClass("hide")
					$(".ExpertDatabase-Content1,.ExpertDatabase-Content2").addClass("hide")

				}else if(index==1){
					$(".ExpertDatabase-Content1").removeClass("hide")
					$(".ExpertDatabase-Content,.ExpertDatabase-Content2").addClass("hide")
			$.ajax({
   				url:"http://47.100.46.113:8080/app/expert/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'type':"finance"
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
//					新闻没有图片用默认的图片替换
				
					for(i=0; i<pageList.length;i++){
						var arr=pageList[i].originImages
						if(arr==0||arr==null){
							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
							pageList[i].originImages=arr
						}
							else if(arr!=null){
								var arr=arr.split(",");
								for(z=0;z<arr.length;z++){
								if(arr.length>1){
								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
								pageList[i].originImages=arr
							}
							}
							}
						
					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeB',
   						data:{
		            		listB: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeB").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file4.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
				}else if(index==2){
					$(".ExpertDatabase-Content2").removeClass("hide")
					$(".ExpertDatabase-Content1,.ExpertDatabase-Content").addClass("hide")
					
								$.ajax({
   				url:"http://47.100.46.113:8080/app/expert/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'type':"company"
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
//					新闻没有图片用默认的图片替换
				
					for(i=0; i<pageList.length;i++){
						var arr=pageList[i].originImages
						if(arr==0||arr==null){
							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
							pageList[i].originImages=arr
						}
							else if(arr!=null){
								var arr=arr.split(",");
								for(z=0;z<arr.length;z++){
								if(arr.length>1){
								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
								pageList[i].originImages=arr
							}
							}
							}
						
					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeC',
   						data:{
		            		listC: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeC").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file4.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
				}
			})
		})
		</script>
	</body>
</html>
