<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="format-detection" content="" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<link rel="stylesheet" href="../css/haokehui.css" />
		<link rel="stylesheet" href="../css/mainPage-service.css" />
	</head>
	<body>
		<div class="service-Bg">
		<div class="service-header">
			<img  src="../image/turnBack.png"/>
			<span>服务</span>
			<label>返回</label>
		</div>
		
		<div class="service-nav">
			<ul>
				<li>
					<span class="service-colorChange">政务资讯</span>
				</li>
				<li>
					<span>信息公开</span>
				</li>
				<li>
					<span>政策解读</span>
				</li>
				<li>
					<span>产学研对接</span>
				</li>
			</ul>
		</div>
		
		<div class="service-content">
			<ul id="cubeD">
				<li v-for="item in listD">
					<!--<a href="PolicyNewsDetail.html">-->
					<!--<span>亳州市一医疗器械企业获省创 业大赛二等奖</span>-->
					<span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 4rem;">{{item.title}}</span>
					<!--</a>-->
					<!--<img src="../image/service/serviceImg01.png" />-->
					<img v-bind:src="item.originImages" lazy="y" />
					<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;" >{{item.summary}}</p>
					<div class="service-contentBottom">
						<label>2017年12月13号</label>
						<label>16:08</label>
					</div>
					
				</li>

			</ul>
		</div>
		
		
		<div class="service-content1 hide">
			<ul id="cubeE">
				<li v-for="item in listE">
					<span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 4rem;">{{item.title}}</span>
					<img v-bind:src="item.originImages" lazy="y" />
					<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;" >{{item.summary}}</p>
					<div class="service-contentBottom">
						<label>2017年12月13号</label>
						<label>16:08</label>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="service-content2 hide">
			<ul id="cubeF">
				<li v-for="item in listF">
					<span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 4rem;">{{item.title}}</span>
					<img v-bind:src="item.originImages" lazy="y" />
					<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;" >{{item.summary}}</p>
					<div class="service-contentBottom">
						<label>2017年12月13号</label>
						<label>16:08</label>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="service-content3 hide">
			<ul id="cubeG">
				<li v-for="item in listG">
					<span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 4rem;">{{item.title}}</span>
					<img v-bind:src="item.originImages" lazy="y" />
					<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;" >{{item.summary}}</p>
					<div class="service-contentBottom">
						<label>2017年12月13号</label>
						<label>16:08</label>
					</div>
				</li>
			</ul>
		</div>
		</div>
		
		<div class="footer">
			<ul>
				<li>
					<a href="../index.html">
					<img src="../image/mainPage/navBottom03.png">
					<span>首页</span>
					</a>
				</li>
				<li>
					<a href="mainPageService.html">
					<img src="../image/mainPage/navBottom02.png">
					<span>服务</span>
					</a>
				</li>
				<li>
					<a href="techNeed.html"><img src="./../image/Technicalrequirements@3x.png"></a>
					<span>需求</span>
				</li>
				<li>
					<a href="qADetail.html">
					<img src="./../image/Questionandanswer@3x.png">
					<span>问答</span>
					</a>
				</li>
				<li id="PersonalCenter1">
					<!--<a href="login.html">-->
					<img src="./../image/Mine@3x.png">
					<span>我的</span>
					<!--</a>-->
				</li>
			</ul>
		</div>
		
		<script type="text/javascript" src="../script/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="../script/vue.min.js"></script>
		<!--<script type="text/javascript" src="../script/vue-resource.min.js"></script>-->
		<!--<script type="text/javascript" src="../script/haokehui.js"></script>-->
		<script>
			$.ajax({
   				url:"http://47.100.46.113:8080/app/news/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'channelId':14
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
					console.log(pageList)
//					新闻没有图片用默认的图片替换
				
//					for(i=0; i<pageList.length;i++){
//						var arr=pageList[i].originImages
//						if(arr==0||arr==null){
//							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//							pageList[i].originImages=arr
//						}
//							else if(arr!=null){
//								var arr=arr.split(",");
//								for(z=0;z<arr.length;z++){
//								if(arr.length>1){
//								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//								pageList[i].originImages=arr
//							}
//							}
//							}
//						
//					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeD',
   						data:{
		            		listD: pageList
		        		},
   					})
   					
   						$("#cubeD").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file2.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
   			
   			$(function(){
			$(".service-nav").find("li").mousemove(function(){
				$(this).find("span").addClass("service-colorChange")
				$(this).siblings().children("span").removeClass("service-colorChange")
				var index=$(this).index()
				if(index==0){
					$(".service-content").removeClass("hide")
					$(".service-content1,.service-content2,.service-content3").addClass("hide")
				$.ajax({
   				url:"http://47.100.46.113:8080/app/news/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'channelId':14
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
					console.log(pageList)
//					新闻没有图片用默认的图片替换
				
//					for(i=0; i<pageList.length;i++){
//						var arr=pageList[i].originImages
//						if(arr==0||arr==null){
//							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//							pageList[i].originImages=arr
//						}
//							else if(arr!=null){
//								var arr=arr.split(",");
//								for(z=0;z<arr.length;z++){
//								if(arr.length>1){
//								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//								pageList[i].originImages=arr
//							}
//							}
//							}
//						
//					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeD',
   						data:{
		            		listD: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeD").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file2.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
				}else if(index==1){
					$(".service-content1").removeClass("hide")
					$(".service-content,.service-content2,.service-content3").addClass("hide")
				$.ajax({
   				url:"http://47.100.46.113:8080/app/news/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'channelId':15
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
					console.log(pageList)
//					新闻没有图片用默认的图片替换
				
//					for(i=0; i<pageList.length;i++){
//						var arr=pageList[i].originImages
//						if(arr==0||arr==null){
//							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//							pageList[i].originImages=arr
//						}
//							else if(arr!=null){
//								var arr=arr.split(",");
//								for(z=0;z<arr.length;z++){
//								if(arr.length>1){
//								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//								pageList[i].originImages=arr
//							}
//							}
//							}
//						
//					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeE',
   						data:{
		            		listE: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeE").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file2.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
				}else if(index==2){
					$(".service-content2").removeClass("hide")
					$(".service-content,.service-content1,.service-content3").addClass("hide")
				$.ajax({
   				url:"http://47.100.46.113:8080/app/news/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'channelId':16
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
					console.log(pageList)
//					新闻没有图片用默认的图片替换
				
//					for(i=0; i<pageList.length;i++){
//						var arr=pageList[i].originImages
//						if(arr==0||arr==null){
//							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//							pageList[i].originImages=arr
//						}
//							else if(arr!=null){
//								var arr=arr.split(",");
//								for(z=0;z<arr.length;z++){
//								if(arr.length>1){
//								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//								pageList[i].originImages=arr
//							}
//							}
//							}
//						
//					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeF',
   						data:{
		            		listF: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeF").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file2.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
				}else if(index==3){
					$(".service-content3").removeClass("hide")
					$(".service-content,.service-content2,.service-content1").addClass("hide")
					
				$.ajax({
   				url:"http://47.100.46.113:8080/app/news/list",
   				data:{
   					'page.current':1,
                    'page.total':8,
                    'channelId':17
   				},
   				dataType:"json",
   				type:"get",
   				async:true,
   				success:function(data){
					var pageList=data.data.page.list
					console.log(data)
					console.log(pageList)
//					新闻没有图片用默认的图片替换
				
//					for(i=0; i<pageList.length;i++){
//						var arr=pageList[i].originImages
//						if(arr==0||arr==null){
//							var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//							pageList[i].originImages=arr
//						}
//							else if(arr!=null){
//								var arr=arr.split(",");
//								for(z=0;z<arr.length;z++){
//								if(arr.length>1){
//								var arr="http://www.wodelion.com/Cortana/images/Java-Logo-Wallpaper.jpg"
//								pageList[i].originImages=arr
//							}
//							}
//							}
//						
//					}
//					新闻没有图片用默认的图片替换
					
   					new Vue({
   						el:'#cubeG',
   						data:{
		            		listG: pageList
		        		},
   					})
   					
   						
   						
   						$("#cubeG").find("li").click(function(){
   						var column=$(this).index()
   						console.log(column)
   						var newsId=pageList[column].id;
   						console.log(newsId)
   						var url1="new_file2.html?id="
   						var url2=newsId
   						var url3=url1+url2
   						console.log(url3)
   						window.location.href=url3
   					})

   				}
   			});
				}
			})
		})
   			
		</script>
	</body>
</html>
